* {
  margin: 0;
}

:root {
  /*Primary Colors*/
  --brand-green: #00856F;
  --brand-green-light: #DCE9E2;
  --brand-green-light-02: #F7F9F9;
  --brand-beige: #FFFAF1;
  --brand-green-hover: #00453A;

  /*Secondary Colors*/
  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #3E3E3E;

  font-size: 62.5% /* 1rem = 10px */;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}

header {
  width: 37.5rem;
  margin-left: auto;  
  margin-right: auto;
  margin-top: 4.1rem;
}

header h4 {
  color: var(--brand-green);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

header h1 {
  color: #212529;
  font-size: 3.4rem;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p {
  color: var(--gray-paragraph);
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  padding: 2rem;
  margin-bottom: 3.2rem;
}

headerbutton {
  background: var(--brand-green);

  border: none;
  border-radius: 4.0rem;

  margin-bottom: 6.0rem;

  height: 6.2rem;
  width: 26.3rem;
  
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}

.stats {
  width: 32.7rem;
  
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.0rem;

  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-green-light);
  border-radius: 0.6rem;
}

.stat h3 {
  color: var(--gray-headline);
  font-size: 4.8rem;
  line-height: 130%;

  margin-bottom: 0.4rem;
} 

.stat p {
  margin: 0;
  color: var(--brand-green);
  font-size: 1.6rem;
  line-height: 150%;
}

header img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

header::before {
  content: "";
  width: 100vw;
  height: 108rem;
  background-color: var(--brand-green-light);
  display: block;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
